/***************************************************************/

/* Nav */
#navbarContainer
{
	z-index: 10000;
	width:100%;
	text-align:center;
	padding:1em;
	height:10em;
	
	position:fixed;
	
	opacity:20%;
	transition: opacity 0.3s ease-in;
	
}
#navbarContainer:hover
{
	opacity:100%;
	transition:opacity 0.3s ease-in;
}
.navbar {
	z-index:10000;
	margin:auto;
	overflow: hidden;
	background-color: #333;
	/*width: 660px;*/
	max-width:80%;
	display:inline-block;
	
	background-image:linear-gradient(to right, #1f2833, #314052, #4a617d, #546f8f, #4a617d, #314052, #1f2833);
	
	border-radius:10px;
}

.dropdown .dropbtn 
{
	float:left;
}

.navlink
{
	padding: 1em 2em 1em 2em;
	font-weight: bold;
	color: #ddd;
}
.navlink:hover
{
	color:white;
	
}

.navbar a {
	float: left;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.dropdown-content {
  display: block;
  position: absolute;
  top:5.2em;
  
  font-weight:500;
  
  background-color: #314052f5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10000;
  
  max-height:0px;
  overflow:hidden;
  transition: max-height 0.2s ease-out;
  
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}


.dropbtn:hover span
{
	color:green;
	transform: rotate(45deg);
}

.caret
{
	display:inline-block;
	width:1.5em;
	height:1.5em;
	transform: rotate(0deg);
	transition: transform 0.2s ease-out;
}

.dropbtn:hover .caret
{
	transform: rotate(90deg);
	transition:transform 0.2s ease-in;
}

.dropdown-content a {
  float: none;
  color: #ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
  
  z-index: 10000;
}

.dropdown-content a:hover {
	color:white;
	
	text-shadow: 0 0 0.65px #fff, 0 0 0.65px #fff;
	
	/*background-color: #546f8f;*/
}

.dropdown:hover .dropdown-content {
	max-height:1000%;
	transition:max-height 0.5s ease-in 0.2s;
}